{% extends "base.html" %}
{% block content %}
<h1>Быки и коровы.</h1>
<h1>Возможно, знакомая с детства для многих игра. А может, и нет. Однако вне зависимости,</h1>
<h1>от возраста, партия за партией, а может затянуть в игру таким образом, что появится желание сыграть</h1>
<h1>хотя бы раз (а лучше десять). В данный момент мы предоставляем вам вариант с четырехзначными числами.</h1>
<h1>А теперь перейдем к самим правилам.</h1>
<h1></h1>
<h1>1)	Оба игрока заранее присылают загаданное число.</h1>
<h1>2)	Игрок, который первым ходит, выбирается в зависимости от того, кто первый вошел в очередь</h1>
<h1>    игроков. Первый игрок присылает четырехзначное число, пытаясь отгадать,</h1>
<h1>    что загадал противник. Важно, чтобы числа не повторялись, ведь именно на этом базируется сама игра.</h1>
<h1>3)	Присылается результат: количество быков и коров. Быки показывают, сколько раз игрок угадал</h1>
<h1>    не только цифру, но и ее верное расположение, а коровы обозначают, что сама цифра угадана</h1>
<h1>    верно, однако она стоит не на правильной позиции, а на одной из трех оставшихся. Важно, то,</h1>
<h1>    что информация о том, какие именно цифры отгаданы.</h1>
<h1>4)	После этого ходит второй человек, присылая четырехзначное число, и ему также показан</h1>
<h1>    результат того, насколько он отгадал. Таким образом оба игрока по очереди делают ход и</h1>
<h1>    человек, первым отгадавший число противника, конечно выигрывает.</h1>

{% endblock %}